#blog-section {
    padding: 100px 15px;
    padding-top: 50px;
    background: #f9f8fc;
    margin-bottom: 50px;
}

#blog-section .large-title{
    color: black;
    margin-bottom: 3rem;
}

#blog-section .blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    //grid-template-rows: 500px 500px 500px;
    grid-gap: 15px;
    overflow: hidden;

}

#blog-section .blog-container .post-img {
    width: 100%;
    height: 100%;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-color: #f2f3f5;
}

#blog-section .blog-container .post {
    position: relative;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

#blog-section .blog-container .details {
    background: white;
    padding: 25px;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transform: translate3d(0, -100px, 0);
    transition: all .4s ease-in-out;
}

#blog-section .blog-container .details h4 {
    font-weight: 600;
    text-transform: uppercase;
    color: #13171a;
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin-bottom: 1.8rem;
}

#blog-section .blog-container .details p {
    font-weight: 400;
    color: #919191;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

#blog-section .blog-container .post .more {
    position: absolute;
    z-index: 3;
    width: 100%;
    bottom: -20px;
    padding: 0 35px 35px;
    right: 0;
}

#blog-section .blog-container .post .more .button {
    color: #16171b;
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #ff5253;
    cursor: pointer;
    width: 115px;
    margin-top: 15px;
    transition: all .4s ease-in-out .1;
    opacity: 0;
     transform: translate3d(0, 20px, 0);

}
#blog-section .blog-container .post .more .button a{
        color: #ff5253;
}
/*hover effect on post */
#blog-section .blog-container .post:hover .details {
    transform: translate3d(0, -500px, 0);
    
}
#blog-section .blog-container .post:hover .more .button {
    opacity: 1;
    color: #ff5253;
    transform: translate3d(0, 0, 0);
}

/* tablets */
@media only screen and (max-width: 960px){
   #blog-section .blog-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;

}
}
/* phones */
@media only screen and (max-width: 767px){
       #blog-section .blog-container {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 500px 500px;

}
}