#portfolion-section {
  padding: 80px 15px;
}

#portfolio-section .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  margin-top: 100px;
  .section-title {
    border-bottom: 0;
  }
}
.project-title {
  letter-spacing: 1px;
}
#portfolio-section h2 {
  width: auto;
}

#portfolio-section .title .square {
  background: #ffeded;
  width: 125px;
  height: 125px;
  position: absolute;
  margin: 0 auto;
  z-index: -1;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  > div {
    margin: 10px;
    width: 340px;
    min-height: 564px;
    color: #282828;
    background-color: #eceff1;
    border-radius: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    transition: transform 0.2s;
    .link {
      color: inherit;
      margin-left: 27px;
    }
    > div {
      padding: 15px;
      p {
        font-size: 0.8rem;
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        min-height: 70px;
      }
      .text-secondary {
        margin: 30px auto 60px auto;
        color: rgba(0, 0, 0, 0.54);
        text-align: center;
      }
    }
    span {
      position: absolute;
      right: 25px;
      bottom: 25px;
      font-size: 20px;
      > i {
        font-size: 22px;
        color: #90a4ae;
      }
    }
  }
  h4 {
    margin: 15px 0;
  }
  img {
    width: 100%;
    max-height: 268px;
    object-fit: contain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    background-image: url("https://amazon.kiruweb.com/");
    display: block;
  }
  // .whatsapp-img {
  //   height: 268px;
  // }
}
